@import "remixicon/fonts/remixicon.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg-color: #f1f4f9;
    --primary-color: #376397;
    --secondary-color: #85cee4;
}

body {
    background-color: var(--bg-color);
}

.card {
    @apply bg-white shadow-card p-4 rounded-xl;
    height: 100%;

    &.alert {
        @apply bg-orange-100 text-orange-900 font-bold;
    }
}

.button {
    @apply px-4 py-3 rounded-lg;

    &.button-sm {
        @apply px-2 py-2 rounded text-sm;
    }

    &.flat {
        @apply bg-primary text-white hover:opacity-90;
    }
}

.input {
    @apply bg-black bg-opacity-5 px-3 py-3 rounded-xl outline-none w-full;

    &.placeholder {
        @apply pt-4 pb-2;
    }
}

.inputLabel {
    @apply absolute text-xs ml-3 font-semibold text-gray-500;
}

.title {
    @apply text-primary font-bold text-xl;
}

.link {
    @apply cursor-pointer text-primary hover:underline;
}

table {
    @apply w-full my-4;

    thead,
    tbody {
        td,
        th {
            @apply p-3 text-center;

            &:first-child {
                @apply text-left;
            }
        }
    }

    thead {
        @apply bg-black bg-opacity-10;
    }

    tbody {
        td {
            @apply border-b;
        }
    }

    &.clickable {
        tbody tr {
            @apply cursor-pointer hover:bg-gray-200;
        }
    }

    tr {
        &.child {
            @apply bg-blue-100;
        }

        &.porn {
            @apply bg-orange-100;
        }

        &.child-porn {
            @apply bg-red-200;
        }
    }
}

.template-grid {
    @apply h-screen;
    display: grid;
    grid-template-columns: 375px 1fr;
    grid-template-rows: auto;
    grid-template-areas: "sidebar content";

    .sidebar {
        @apply p-6;
        grid-area: sidebar;
    }

    .content {
        @apply p-6;
        grid-area: content;
        overflow: auto;
    }

    &.closed {
        grid-template-columns: 150px 1fr;
    }
}

.filter-card {
    div {
        @apply flex-1 mx-2;
    }

    label {
        @apply block;
    }

    select,
    input {
        @apply border p-2 rounded-lg w-full block;
    }
}
